{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Helena Codes</title>
</head>
<body>

  <div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">

        <h1 class="header center white-text text-darken-4">Helena</h1>

          <h3 class="header col s12 light"><i>Software Developer</i></h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/background4.jpeg" alt=""></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">work</i></h2>
            <h5 class="center">How I Work</h5>

            <p class="light">Teamwork makes the dream work! I like getting to know and bond with people I work with to ensure a productive work environment. It’s easier to get things done when you’re able to connect with the people you work with.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">sentiment_very_satisfied</i></h2>
            <h5 class="center">What Excites Me</h5>

            <p class="light">When I am not thinking about code, I love spending my time with home workouts such as bodyweight training and yoga! Instead of spending my time commuting to the gym, I cook my meals for the week, play VR and Smash, and read books in ebook or audiobook format! I am also learning Chinese and currently aiming for HSK 5 proficiency.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings_backup_restore</i></h2>
            <h5 class="center">Peace in a Wired World</h5>

            <p class="light">Mindfulness is key in today's society, especially when every aspect of our lives involves technology. Life is so much easier when you have Siri to set your timers while cooking or receiving notifications to be on time for various appointments!  I try to be in the here and now whenever I can, because nothing beats a moment of calm of being in the present.</p>
          </div>
        </div>

      </div>

    </div>
  </div>

    <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="header col s12 light">Portfolio</h2>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/background4.jpeg" alt="Unsplashed background img 3"></div>
  </div>

 <div class="container">
    <div class="section">
      <div class="row">
     <!--   <div class="col s12 center">
      <h4>Portfolio</h4>
    </div> -->

  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="static/portfolio-survey.jpg">
        </div>
        <div class="card-content">
          <p>Developed Player Health Wellness App for the Brooklyn Nets for player health data analysis to win more games.</p>
        </div>
        <div class="card-action">
          <a href="https://www.hldigital.com/work" target="_blank">More Info</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="static/portfolio-elbit.png">
        </div>
        <div class="card-content">
          <p>Coded Computer Request Form for Elbit Systems for integration of information to Infor CloudSuite.</p>
        </div>
        <div class="card-action">
          <a href="https://www.infor.com/news/elbit-systems-standardizes-on-infor-to-transform-business" target="_blank">More Info</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="static/portfolio-eap.png">
        </div>
        <div class="card-content">
          <p>Built and maintained Education Alliance Program application for tracking and charting.</p>
        </div>
        <div class="card-action">
          <a href="https://www.infor.com/content/brochures/education-alliances-infor-scholars-offering.pdf/" target="_blank">More Info</a>
        </div>
      </div>
    </div>
   </div>
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://i.ytimg.com/vi/w4EtMfugAkY/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLB_VwAiixsuYsJ62-VNeRnNvVtddQ">
        </div>
        <div class="card-content">
          <p>Instructional video for creating Mongoose widget for use in Infor Home Pages with validation.</p>
        </div>
        <div class="card-action">
          <a href="https://www.youtube.com/watch?v=w4EtMfugAkY" target="_blank">Watch Video</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://i.ytimg.com/vi/3_iKNSGnMx4/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLCI_K1-KAeESwl8oyafwaAsJ92dxA">
        </div>
        <div class="card-content">
          <p>Demonstration of app that uses a Mongoose widget with Infor ION API integration.</p>
        </div>
        <div class="card-action">
          <a href="https://www.youtube.com/watch?v=3_iKNSGnMx4" target="_blank">Watch Video</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://i.ytimg.com/vi/Fv-CGdRzkT0/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAwHBPCd74Jw2ea-q2O0GoV8VtpHw">
        </div>
        <div class="card-content">
          <p>Building portal panels in Mongoose.</p>
        </div>
        <div class="card-action">
          <a href="https://www.youtube.com/watch?v=Fv-CGdRzkT0" target="_blank">Watch Video</a>
        </div>
      </div>
    </div>
   </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://i.ytimg.com/vi/wwkxZoKxb30/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLDq0aCwo21sLTbkHbCB3WQ0tDeFAg">
        </div>
        <div class="card-content">
          <p>Tutorial on how to import a custom assembly in Mongoose.</p>
        </div>
        <div class="card-action">
          <a href="https://www.youtube.com/watch?v=wwkxZoKxb30" target="_blank">Watch Video</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://i.ytimg.com/vi/STKSmwKnWKY/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLCb4Bcrbsjsr8uZSv4iqb9BYQTsPQ">
        </div>
        <div class="card-content">
          <p>Instructions on how to build an IDO Extension class with a Custom Assembly.</p>
        </div>
        <div class="card-action">
          <a href="https://www.youtube.com/watch?v=STKSmwKnWKY" target="_blank">Watch Video</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://i.ytimg.com/vi/MM5vy6y6huI/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLDgc-mxo8bat8YSaFl-zasJcVKwpg">
        </div>
        <div class="card-content">
          <p>Walkthrough on how to attach a wiretap and utilize the built-in monitoring and debugging tools in Mongoose</p>
        </div>
        <div class="card-action">
          <a href="https://www.youtube.com/watch?v=MM5vy6y6huI" target="_blank">Watch Video</a>
        </div>
      </div>
    </div>
  </div>

      </div>
    </div>
  </div> 


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="header col s12 light">Timeline</h2>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/background4.jpeg" alt="Unsplashed background img 2"></div>
  </div>


 <div class="container"> 
    <div class="section" >
     <!-- <div class="col s12 center">
      <h4>Timeline</h4>
    </div>-->
      <div class="timeline">
        <div class ="timeline-container timeline-box-left">
          <div class="timeline-content">
           <h5>2017 - 2019</h5>  
           <h4>Startup</h4>

            <img src="static/skills-swift.png"><img src="static/skills-python.png"><img src="static/skills-git-icon.png">
          </div>
        </div>
        <div class="timeline-container timeline-box-right">
          <div class="timeline-content">
           <h5>2015 - 2017</p>  
            <h4>Infor</h4>
            <p>Software Engineer</p>
            <p>Associate Software Engineer</p>
            <p>Lead Technology Intern</p>
            <p>Technology Intern</p>
            <img src="static/skills-csharp.png"><img src="static/skills-net.png"><img src="static/skills-js.png"><img src="static/skills-html.png"><img src="static/skills-css.png">
          </div>
        </div>
      <div class="timeline-container timeline-box-left">
          <div class="timeline-content">
            <h5>2015</h5>  
            <h4>Indeed</h4>
            <p>Data Analyst Intern</p>
            <img src="static/skills-python.png">
          </div>
        </div>
      <div class="timeline-container timeline-box-right">
          <div class="timeline-content">
            <h5>2014</h5>  
            <h4>MasterCard</h4>
            <p>Global IT Marketing Mentee</p>
            <img src="static/skills-js.png"><img src="static/skills-html.png"><img src="static/skills-css.png">
          </div>
        </div>
       <div class="timeline-container timeline-box-left">
          <div class="timeline-content">
            <h5>2013</h5>  
            <h4>WirePoint Design</h4>
            <p>Web Developer</p>
            <img src="static/skills-wp.png"><img src="static/skills-php.png"><img src="static/skills-js.png"><img src="static/skills-html.png"><img src="static/skills-css.png">
          </div>
        </div>
      <div class="timeline-container timeline-box-right">
          <div class="timeline-content">
            <h5>2012-2013</h5>  
            <h4>Viking News</h4>
            <p>Features/Web Editor</p>
            <img src="static/skills-wp.png"><img src="static/skills-html.png"><img src="static/skills-css.png">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="header col s12 light"></h2>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/background4.jpeg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer light-blue darken-4">
    <div class="container">
      <div class="row right">
             <a href="https://www.linkedin.com/in/helenasan" target="_blank"><img src="static/icon-linkedin.png"></a>  
        <a href="https://github.com/devhelenacodes" target="_blank"><img src="static/icon-github.png"></a>
          

        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->


  </body>
</html>
{% endblock %}
